/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/
.coin-slider {
	padding:0;
	overflow:hidden;
	zoom:1;
	position:relative;
	float:right;
}
.coin-slider a {
	text-decoration:none;
	outline:none;
	border:none;
}

/* buttons for switching */

.cs-buttons {
	margin:-340px 0 0;
	padding:0;
	font-size:0;
	float:left;
}
.cs-buttons a {
	margin:0 2px;
	width:20px;
	height:20px;
	float:left;
	color:#fff;
	text-indent:-10000px;
	background:url(../images/slide_p.png) no-repeat center center;
}
.cs-buttons a.cs-active {
	color:#fff;
	background-image:url(../images/slide_a.png);
}

/* text in slider */

.cs-title {
	padding:26px 60px 26px 34px;
	width:876px;
	color:#fff;
	font-size:15px;
	line-height:1.5em;
	background:url(../images/overlay.png) repeat left top;
	font-family: 'Pontano Sans', sans-serif;
}

.cs-title big {
	font-size:20px;
	font-family: 'Lobster Two', cursive;
}

/* buttons next and prev */

.cs-prev, .cs-next  { display:block; width:40px; height:51px; text-indent:-999em; outline:0; }
.cs-prev {margin-left: 15px;}
.cs-next {margin-right: 15px;}
a.cs-prev { background:url(../images/arrow-left.png) no-repeat; float:left; }
a.cs-prev { }
a.cs-next { background:url(../images/arrow-right.png) no-repeat; float:left; }
a.cs-next{ }